@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* navbar styling
 */
 .navbar{
     position: fixed;
     width: 100%;
     padding: 30px 0;
     background: rgb(8, 7, 8);
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     transition: all 0.3s eases;
 }
 .navbar .sticky{
     padding: 30px 0;
     background: rgb(8, 7, 8);
 }
 .navbar.sticky .logo a span{
     color: white;
 }
 .max-width{
     max-width: 1300px;
     padding: 0 80px;
     margin: auto;
 }
 .navbar .max-width{
display: flex;
align-items: center;
justify-content: space-between;
 }
 .navbar .logo a{
     font-size: 35px;
     color: white;
     font-weight: 600;
 }
 .navbar .logo a span{
     color: #9e0c83;
 }
 .navbar .menu li{
     list-style: none;
     display: inline-block;
 }
 .navbar .menu li a{
     color: white;
     font-size: 18px;
     font-weight: 500;
     margin-left: 25px;
     transition: color 0.3s ease ;
 }
 .navbar .menu li a:hover{
     color: rgb(27, 27, 27);
     background-color: whitesmoke;
     border-radius: 2px;
     padding: 4px;
 }
 /* home styling */
 .home{
     display: flex;
    
     /* background: url("bg.jpg") no-repeat center ; */
     /* background: rgb(245,70,227);
background: linear-gradient(90deg, rgba(245,70,227,1) 34%, rgba(5,57,184,1) 78%); */
/* background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%); */
 /* background-color: #ff3bdb;

background-image: linear-gradient(147deg, #ff3bdb 0%, #FF2525 74%);  */
background-color: #ff3bdb;
background-image: linear-gradient(147deg, #ff3bdb 0%, #ff4125 74%);

     height: 100vh;
     color: black;
     font-weight: 700;
     min-height: 200px;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 .home .max-width{
     margin: auto 0 auto 40px;
 }
 .home .home-content .text1{
     font-size: 27px;

 }
 .home .home-content .text2{
     font-size: 60px;
     font-weight: 600;
     margin-left: -2px;
 }
 .home .home-content .text3{
     font-size: 40px;
     margin: 5px 0;
 }
 .home .home-content .text3 span{
     font-weight: 500;
     color: rgb(243, 237, 237);
 }